app = "plat-geo"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[mounts]
  source = "geo_data"
  destination = "/data"

[env]
  SERVICE_PORT = "8080"
  SERVICE_DATA_DIR = "/data"
  SERVICE_WEB_DIR = "/app/web"
